.button {
  background-color: black;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 16px;
  width: 220px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: all 0.5s ease-in-out;
}
.heading {
  font-size: 70px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
